#compare-text-row {
  margin: 10px;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.compare-text-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  background-color: white;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.data {
  flex-direction: row;
}
