apache_beam
google-apitools==0.5.26  # Newer versions are incompatible with six 1.10.0.
google-auth-httplib2
google-cloud-storage
fastavro
flask
sqlalchemy
flask_sqlalchemy
jsonschema
pymysql
six==1.10.0
jinja2
markupsafe
click
pyarrow
attrs
pyrsistent
